
code_and_dataset/Figure10/datasets/flume/day2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code_and_dataset/.DS_Store
code_and_dataset/Figure10/.DS_Store
code_and_dataset/Figure10/datasets/.DS_Store
code_and_dataset/Figure10/datasets/flume/.DS_Store
code_and_dataset/Figure10/datasets/flume/day2/.DS_Store
code_and_dataset/Figure10/datasets/flume/day3/.DS_Store
code_and_dataset/Figure14/.DS_Store
code_and_dataset/Figure14/datasets/.DS_Store
code_and_dataset/Figure4/.DS_Store
code_and_dataset/Figure4/datasets/.DS_Store
code_and_dataset/Figure7/.DS_Store
code_and_dataset/Figure9/.DS_Store
code_and_dataset/Figure9/datasets/.DS_Store
code_and_dataset/Figure9/datasets/flume/.DS_Store
code_and_dataset/Figure9/datasets/flume/day2/.DS_Store
code_and_dataset/Figure9/datasets/flume/day3/.DS_Store
.DS_Store
*.rsk
